.sidebar-nav {
    margin-top: 200px;
    margin-left: 50px;
    padding: 0;
    list-style: none;
}

.custom-cls {
    display: inline-block;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 50px;
    padding: 50px;
    border: 1px black;;
}